<% provide(:title, "Rider Flow") %>

<h1>Rider</h1>
<p>
  Let's find you a ride!
</p>

<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :current_location, placeholder: "Enter your location..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<ol class="trips">
  <%= render @trips %>
</ol>
<%= will_paginate @trips %>
