<%= form_for(@trip) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :start_location, placeholder: "Enter Start Location..." %>
      <%= f.text_area :destination, placeholder: "Enter Destination..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>